// $font: Helvetica, sans-serif;

$black:#000000;

$primary:  $black;

// $nav-link-color:    $vert!important;

$modal-sm:                          95vw;
$modal-md:                          95vw;
$modal-lg:                          95vw;
$modal-xl:                          95vw;